@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    background: #1d1f21;
    color: white;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 7px;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 2.5em;
    border-bottom: 3px solid #4e0000;
    cursor: default;
    background-image: linear-gradient(110deg, #141423, #161a25, #212d1c, #272d1b, #2b2114, #351b0c);
}

header:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 3px 3px;
    background-image: url("/static/noise96.png");
    z-index: 1;
}

@media (min-resolution:  97dpi) { header:before { background-image: url("/static/noise144.png"); } }
@media (min-resolution: 145dpi) { header:before { background-image: url("/static/noise192.png"); } }
@media (min-resolution: 193dpi) { header:before { background-image: url("/static/noise288.png"); } }

h1 {
    position: relative;
    margin: 0;
    padding: 18px 0;
    display: inline-block;
    /* width: 50%; */
    height: 64px;
    font-family: 'Droid Sans Mono', monospace;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -2px;
    z-index: 10;
}

nav {
    position: relative;
    padding: 40px 0;
    /* margin-right: 30px; */
    display: inline-block;
    /* width: 40%; */
    height: 20px;
    float: right;
    font-size: 16px;
    z-index: 10;
}

nav a {
    padding: 15px;
    text-decoration: none;
}

a[href] {
    color: cornflowerblue;
    transition: all 0.05s linear;
    outline: 2px solid transparent;
}

a[href]:hover, a[href]:focus {
    color: white;
}

section.content {
    line-height: 1.48em;
}

p {
    margin: 2em 0;
}

ul {
    margin: 2em 0;
    list-style: square;
}

em {
    font-style: normal;
    opacity: 0.5;
}

h2 {
    margin: 2em 0 1em;
}

#blog-index li a {
    display: block;
    padding: 0.4em 1em;
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

ul#blog-index {
    padding:  0;
}

.blog-date {
    display: inline-block;
    width: 12ch;
    opacity: 0.8;
}

#blog-index li {list-style: none;margin: 1em 0;}

.content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

code {
    background: #1b1b1b;
    color: limegreen;
}

pre {
    background: #1b1b1b;
    box-shadow: 0 0 0 10px #1b1b1b;
    padding: 3px 0px;
}

.Constant    { color: #d7875f; }
.Define      { color: #87afaf; }
.Function    { color: #81a2be; }
.Keyword     { color: #af87af; font-weight: bold; }
.Special     { color: #dadada; }
.String      { color: #b9ca4a; }
.htmlArg     { color: #d75f5f; }
.htmlTag     { color: #d75f5f; }
.htmlTagName { color: #d75f5f; }

.term-green      { color: #b8d68c; }
.term-green-bold { color: #a0cf5d; font-weight: bold; }
.term-gray       { color: #404040; }
.term-gray-bold  { color: #404040; font-weight: bold; }

pre code {
    background: none;
    color: inherit;
}

.projects-index {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 30px;
}

.projects-index li {
    list-style: none;
    width: 320px;
    height: 240px;
}

.projects-index a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-indent: 20px;
    font-size: 1.5em;
    text-decoration: none;
    background-size: 320px 240px;
}

.projects-index a:hover, .projects-index a:focus {
    filter: brightness(125%);
}

a[href]:focus {
    outline-color: rgba(158, 5, 5, 0.47);
}


hr {
    border: none;
    border-top: 2px dashed #292929;
}

blockquote {
    float: right;
    margin: 0;
}

h1 a[href] {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

h1 a[href]:hover {
    color: rgba(20, 0, 0, 0.7);
    transition-duration: 1s;
}
